@import url("http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222b45;
  line-height: 2.4rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #3366ff;
  line-height: 2.4rem;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-m-none {
  display: block !important;
}

.d-m-block {
  display: none !important;
}

.rotate-180 {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.status-completed {
  color: #00d68f !important;
}

.status-pending {
  color: #ffaa00 !important;
}

@media (min-width: 992px) {
  .clear-border {
    border: none !important;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .d-m-block {
    display: block !important;
  }
  .d-m-none {
    display: none !important;
  }
}

.btn {
  display: block;
  background-color: #edf1f7;
  color: #222b45;
  border: none;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 4px;
}

.btn-main {
  background-color: #ffd339;
  color: #222b45;
}

.btn-main:hover {
  background-color: #FFE16A;
}

.btn-main:focus {
  background-color: #FFE16A;
}

.btn-primary {
  background-color: #3366ff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #42AAFF;
}

.btn-primary:focus {
  background-color: #42AAFF;
}

.btn-succes {
  background-color: #00d68f;
  color: #ffffff;
}

.btn-succes:hover {
  background-color: #2CE59B;
}

.btn-succes:focus {
  background-color: #2CE59B;
}

.btn-info {
  background-color: #0095ff;
  color: #ffffff;
}

.btn-info:hover {
  background-color: #42AAFF;
}

.btn-info:focus {
  background-color: #42AAFF;
}

.btn-warning {
  background-color: #ffaa00;
  color: #ffffff;
}

.btn-warning:hover {
  background-color: #FFC94D;
}

.btn-warning:focus {
  background-color: #FFC94D;
}

.btn-danger {
  background-color: #ff3d71;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #FF708D;
}

.btn-danger:focus {
  background-color: #FF708D;
}

.btn-control {
  background-color: #ffffff;
  color: #222b45;
  border: 1px solid #c5cee0;
}

.btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: unset;
  padding: 10px 10px;
  border-radius: 8px;
}

.btn-social svg {
  width: 24px;
  margin-right: 12px;
}

.btn-green {
  background-color: #00bf71;
  color: #ffffff;
}

.add-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #00d68f;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 4px;
}

.add-order svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .btn-social {
    padding: 14px 10px;
  }
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.input-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2e3a59;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 8px;
}

.input-group input {
  color: #222b45;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 12px 16px;
  border: 1px solid #e4e9f2;
  border-radius: 8px;
  outline: none;
  background-color: #f7f9fc;
  -webkit-transition: border .2s, background-color .2s linear;
  transition: border .2s, background-color .2s linear;
}

.input-group input::-webkit-input-placeholder {
  color: #8f9bb3;
}

.input-group input:-ms-input-placeholder {
  color: #8f9bb3;
}

.input-group input::-ms-input-placeholder {
  color: #8f9bb3;
}

.input-group input::placeholder {
  color: #8f9bb3;
}

.input-group input:hover {
  background-color: #edf1f7;
}

.input-group input:focus {
  border: 1px solid #3366ff;
}

.input-group input:disabled {
  cursor: no-drop;
  pointer-events: none;
  background-color: #f7f9fc;
}

.input-group input.succes {
  border: 1px solid #00d68f;
  background-color: #ffffff;
}

.input-group input.info {
  border: 1px solid #0095ff;
  background-color: #ffffff;
}

.input-group input.warning {
  border: 1px solid #ffaa00;
  background-color: #ffffff;
}

.input-group input.error {
  border: 1px solid #ff3d71;
  background-color: #ffffff;
}

.input-group .description {
  color: #8f9bb3;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 8px;
}

.input-group:not(:last-child) {
  margin-bottom: 24px;
}

.custom-select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.custom-select-wrapper .custom-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8f9bb3;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #e4e9f2;
  background: #f7f9fc;
  cursor: pointer;
}

.custom-select-wrapper .custom-select:hover {
  background-color: #edf1f7;
}

.custom-select-wrapper .custom-select svg {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.custom-select-wrapper .select-dropdown {
  display: none;
  background-color: #ffffff;
  border: 1px solid #e4e9f2;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  top: 105%;
  width: 100%;
}

.custom-select-wrapper .select-dropdown ul {
  background-color: #ffffff;
  border-radius: 4px;
}

.custom-select-wrapper .select-dropdown ul li {
  cursor: pointer;
  padding: 12px 16px;
  color: #222b45;
}

.custom-select-wrapper .select-dropdown ul li:hover {
  background-color: #edf1f7;
  color: #222b45;
}

.custom-select-wrapper .select-dropdown ul li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-select-wrapper .select-dropdown ul li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.custom-checkbox {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  padding: 0;
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:checked ~ span {
  background: #3366ff;
  border-color: #3366ff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.custom-checkbox input[type="checkbox"]:checked ~ span:hover {
  background-color: #598BFF;
}

.custom-checkbox input[type="checkbox"]:checked ~ span svg {
  opacity: 1;
}

.custom-checkbox input[type="checkbox"]:disabled ~ span {
  background-color: #edf1f7;
  border-color: #c5cee0;
  cursor: no-drop;
  pointer-events: none;
}

.custom-checkbox input[type="checkbox"]:disabled:checked ~ span {
  background-color: #c5cee0;
  border-color: #c5cee0;
}

.custom-checkbox span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  background: #e4e9f2;
  border: 1px solid #c5cee0;
  border-radius: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.custom-checkbox span:hover {
  border-color: #598BFF;
}

.custom-checkbox span svg {
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.custom-checkbox p {
  margin-left: 6px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #2e3a59;
}

.custom-radio {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-radio input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.custom-radio p {
  margin-left: 10px;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #edf1f7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 88px;
}

.header .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .logo a {
  display: block;
}

.header .navbar {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .navbar nav {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.header .navbar nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .navbar nav .nav-links a {
  color: #222b45;
  position: relative;
  text-transform: capitalize;
  display: block;
  padding: 32px 0;
}

.header .navbar nav .nav-links a.active::before {
  content: '';
  height: 3px;
  background-color: #ffd339;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.header .navbar .language-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .navbar .language-currency .input-group {
  margin: 0;
  padding: 0 16px;
}

.header .navbar .language-currency .input-group:first-child {
  border-right: 1px solid #e4e9f2;
}

.header .navbar .language-currency .input-group .custom-select {
  color: #222b45;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header .navbar .language-currency .input-group .custom-select i {
  margin-right: 8px;
  font-size: 2.4rem;
  color: #8f9bb3;
}

.header .navbar .language-currency .input-group .custom-select svg {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  color: #8f9bb3;
}

.header .navbar .language-currency .input-group .select-dropdown {
  margin-top: 10px;
}

.header .navbar .language-currency .input-group .select-dropdown ul li {
  text-align: center;
  padding: 6px 0;
  font-size: 1.4rem;
}

.header .join-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header .join-block .btn {
  text-transform: none;
  border-radius: 8px;
}

.header .join-block .btn:not(:last-child) {
  margin-right: 16px;
}

.header .mobile-language {
  display: none;
}

.header .mobile-currency {
  display: none;
}

.header .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .login-wrapper span {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #2e3a59;
  margin-right: 32px;
}

.header .login-wrapper .btn {
  font-size: 1.4rem;
  line-height: 1.6rem;
  border-radius: 8px;
  border-color: #222b45;
  text-transform: unset;
}

@media (max-width: 768px) {
  .menu-overlay-active {
    display: block !important;
  }
  .menu-active {
    left: 0 !important;
  }
  .menu-open {
    margin-right: 15px;
    font-size: 2.4rem;
    color: #222b45;
  }
  .menu-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #101426;
    opacity: 0.72;
    z-index: 9;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  header .header {
    height: auto;
  }
  header .logo a {
    line-height: 1;
  }
  header .logo svg {
    max-width: 120px;
  }
  header .navbar {
    background-color: #ffffff;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    position: fixed;
    height: auto;
    min-height: 100vh;
    width: 320px;
    top: 0;
    left: -100%;
    z-index: 10;
    padding: 50px 25px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  header .navbar nav {
    -webkit-box-flex: unset !important;
        -ms-flex-positive: unset !important;
            flex-grow: unset !important;
  }
  header .navbar nav .nav-links {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 40px 0 80px;
  }
  header .navbar nav .nav-links li a {
    padding: 0 !important;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  header .navbar nav .nav-links > li + li {
    margin-top: 25px;
  }
  header .navbar .mobile-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .navbar .mobile-buttons .btn {
    width: 100%;
    text-transform: capitalize;
  }
  header .navbar .mobile-buttons > .btn + .btn {
    margin-top: 25px;
  }
  header .navbar .menu-close {
    color: #2e3a59;
    position: absolute;
    font-size: 2rem;
    top: 25px;
    left: 25px;
  }
  header .navbar .language-currency {
    display: none !important;
  }
  header .navbar .mobile-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid #edf1f7;
    border-bottom: 1px solid #edf1f7;
  }
  header .navbar .mobile-language .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 12px;
    padding: 0;
  }
  header .navbar .mobile-language a.active {
    background-color: #2e3a59;
    color: #ffd339;
  }
  header .navbar .mobile-currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
  }
  header .navbar .mobile-currency .title {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #8f9bb3;
    margin-bottom: 8px;
    text-align: center;
  }
  header .navbar .mobile-currency .custom-select-wrapper {
    margin: 0 auto;
  }
  header .navbar .mobile-currency .custom-select-wrapper .custom-select {
    background-color: #e4e9f2;
    color: #222b45;
  }
  header .navbar .mobile-currency .custom-select-wrapper .custom-select svg {
    margin-left: 14px;
  }
  header .navbar .mobile-currency .custom-select-wrapper .select-dropdown {
    bottom: 105%;
    top: unset !important;
  }
  header .login-wrapper {
    display: none !important;
  }
  header .login-close {
    color: #2e3a59;
    font-size: 2rem;
  }
}

.footer {
  background-color: #f7f9fc;
  padding: 24px 0;
}

.footer p {
  color: #2e3a59;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.user-menu__block {
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 8px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 32px 24px 112px 24px;
}

.user-menu .title {
  color: #8f9bb3;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0 0 40px 24px;
  width: 100%;
}

.user-menu ul {
  width: 100%;
}

.user-menu ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #222b45;
  padding: 12px 24px;
  font-weight: 500;
}

.user-menu ul a svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.user-menu ul a.active {
  background-color: #ffd339;
  color: #2e3a59;
  border-radius: 8px;
}

.user-menu ul > li + li {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .user-menu__block {
    width: 100% !important;
    max-width: 100%;
    border-radius: 0;
  }
  .user-menu {
    width: 100%;
    padding: 0;
  }
  .user-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
    padding: 16px 20px;
  }
  .user-menu ul::-webkit-scrollbar {
    display: none;
  }
  .user-menu ul li {
    width: auto;
    display: inline-block;
    margin-top: 0 !important;
  }
  .user-menu ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
    padding: 6px 16px;
    border: 1px solid #2e3a59;
    color: #2e3a59;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    font-size: 1.4rem;
  }
  .user-menu ul li a.active {
    background-color: #2e3a59;
    color: #ffffff;
    border-radius: 25px;
  }
  .user-menu ul li a svg {
    display: none;
  }
  .user-menu ul > li + li {
    margin-left: 8px;
  }
}

.login-page-block {
  padding: 50px 0;
  height: calc(100vh - 88px);
}

.login-page-block .login-page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-page-block .login-page-item .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page-block .login-page-item .login-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-block-item {
  min-width: 320px;
  padding-bottom: 50px;
}

.login-block-item .title {
  text-align: center;
  margin-bottom: 40px;
}

.login-block-item .title h3 {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 0 8px;
}

.login-block-item .title span {
  color: #8f9bb3;
  font-size: 1.4rem;
  line-height: 2rem;
}

.login-block-item .login-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.login-block-item .login-social-networks .btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.login-block-item .login-or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 16px 0;
}

.login-block-item .login-or span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #8f9bb3;
  position: relative;
  z-index: 3;
  font-size: 1.4rem;
  line-height: 2rem;
  background: #fff;
  padding: 0 32px;
}

.login-block-item .login-or::before {
  content: "";
  background: #e4e9f2;
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  z-index: 2;
}

.login-block-item .login-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 0;
}

.login-block-item .login-remember .forgot-password {
  font-size: 1.4rem;
  line-height: 2rem;
}

.login-block-item .login-submit {
  margin-top: 60px;
}

.login-block-item .login-submit .btn {
  text-transform: unset;
  border-radius: 8px;
  padding: 14px 0;
}

@media (max-width: 768px) {
  .login-mobile-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 16px;
    padding: 24px 16px 0;
    background-color: #ffd339;
  }
  .login-mobile-item .btn {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 8px 8px 0 0;
    background-color: #ffea88;
    padding: 14px 0 10px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: unset;
  }
  .login-mobile-item a.active {
    background-color: #ffffff;
  }
  .login-page-block {
    height: auto;
    padding: 0;
  }
  .login-page-block .login-block {
    width: 100%;
  }
  .login-page-block .login-block .login-block-item {
    min-width: 100%;
    margin-top: 50px;
  }
}

.content-order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-order-wrapper .text-side__block {
  width: 50%;
  background-color: #fff2af;
  position: relative;
  overflow: hidden;
}

.content-order-wrapper .text-side__block::after {
  content: '';
  position: absolute;
  width: 662px;
  height: 662px;
  left: -166px;
  bottom: -175px;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.content-order-wrapper .text-side__block .text-side {
  height: auto;
  overflow: auto;
  padding: 50px 110px 0;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.content-order-wrapper .text-side__block .text-side .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-order-wrapper .text-side__block .text-side .image img {
  width: auto;
}

.content-order-wrapper .text-side__block .text-side::-webkit-scrollbar {
  display: none;
}

.content-order-wrapper .text-side__block .text-side .text {
  margin-top: 50px;
  text-align: justify;
}

.content-order-wrapper .form-side__block {
  width: 50%;
  padding: 50px 110px;
}

.content-order-wrapper .form-side__block .form-side {
  max-width: 380px;
}

.content-order-wrapper .form-side__block .form-side .title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 50px;
}

.content-order-wrapper .form-side__block .form-side .keywords-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  gap: 5px;
}

.content-order-wrapper .form-side__block .form-side .keywords-block .keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2e3a59;
  color: #ffffff;
  border-radius: 25px;
  padding: 6px 16px;
}

.content-order-wrapper .form-side__block .form-side .keywords-block .keyword i {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 1px;
}

.content-order-wrapper .form-side__block .form-side .form-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 40px 0;
  font-weight: 500;
}

.content-order-wrapper .form-side__block .form-side .form-cost span {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #2e3a59;
}

.content-order-wrapper .form-side__block .form-side .form-cost strong {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #2e3a59;
  margin-left: 8px;
  font-weight: 600;
}

.content-order-wrapper .form-side__block .form-side .form-continue .btn {
  width: 100%;
  text-transform: unset;
  border-radius: 8px;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .content-order-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content-order-wrapper .form-side__block {
    width: 90%;
    margin: 25px auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-order-wrapper .form-side__block .form-continue {
    background: #ffffff;
    border-top: 1px solid #f7f9fc;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 8;
    padding: 16px;
  }
  .content-order-wrapper .text-side__block {
    width: 100%;
    overflow: auto;
  }
  .content-order-wrapper .text-side__block::after {
    display: none;
  }
  .content-order-wrapper .text-side__block .text-side {
    height: auto;
    position: static;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 100px;
  }
  .content-order-wrapper .text-side__block .text-side .image img {
    width: 100%;
  }
}

.my-orders-wrapper {
  background-color: #edf1f7;
  padding: 25px 0 50px;
  min-height: 100vh;
}

.my-orders-wrapper .my-orders__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-orders-wrapper .my-orders__block .user-menu__block {
  width: 25%;
}

.user-content__block {
  background-color: transparent;
  width: 70%;
}

.user-content__block .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-content__block .header__block h3 {
  color: #222b45;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
}

.user-content__block .table__block {
  margin-top: 32px;
}

.user-content__block .table__block > .item__block + .item__block {
  margin-top: 8px;
}

.item__block {
  width: 100%;
  padding: 24px 24px;
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(90% / 4);
}

.item__block .item span {
  color: #8f9bb3;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.item__block .item p {
  color: #2e3a59;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 4px;
}

.item__block .item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 10%;
}

.item__block .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #0095ff;
  border-radius: 100%;
  background-color: rgba(0, 149, 255, 0.08);
  cursor: pointer;
}

.item__block .arrow svg {
  fill: #0095ff;
}

@media (max-width: 768px) {
  .my-orders-wrapper {
    padding-top: 91px !important;
  }
  .my-orders-wrapper .container {
    width: 100%;
  }
  .my-orders__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-orders__block .user-menu__block {
    margin-bottom: 25px;
  }
  .my-orders__block .user-content__block {
    width: 90% !important;
    margin: 0 auto;
  }
  .table__block > .item__block + .item__block {
    margin-top: 16px !important;
  }
  .table__block .item__block {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .table__block .item__block .item {
    width: 50% !important;
  }
  .table__block .item__block .item:nth-child(n + 3) {
    margin-top: 24px;
  }
  .table__block .item__block .item:last-child {
    margin-top: 40px;
    width: 100% !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
/*# sourceMappingURL=style.css.map */