.my-orders-wrapper {
    background-color: $clr-basic-300;
    padding: 25px 0 50px;
    min-height: 100vh;

    .my-orders__block {
        @include flex-row(space-between);
        align-items: flex-start;

        .user-menu__block {
            width: 25%;
        }
    }
}

.user-content__block {
    background-color: transparent;
    width: 70%;
    
    .header__block {
        @include flex-row(space-between);

        h3 {
            color: $clr-basic-800;
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: $fw-500;
        }
    }

    .table__block {
        margin-top: 32px;

        & > .item__block+ .item__block{
            margin-top: 8px;
        }
        
    }
}

.item__block{
    width: 100%;
    padding: 24px 24px;
    background-color: $clr-white;
    border-radius: 8px;
    @include flex-row(space-between);

    .item {
        @include flex-column(flex-start);
        width: calc(90% / 4);

        span {
            color: $clr-basic-600;
            font-size: $fs-small;
            line-height: 1.6rem;
        }

        p {
            color: $clr-basic-700;
            font-size: $fs-medium;
            line-height: 2rem;
            font-weight: $fw-500;
            margin-top: 4px;
        } 

    }

    .item:last-child {
        display: flex;
        align-items: flex-end;
        width: 10%;
    }

    .arrow {
        @include flex-row(center);
        width: 32px;
        height: 32px;
        border: 1px solid $clr-info;
        border-radius: 100%;
        background-color: rgba(0, 149, 255, 0.08);
        cursor: pointer;

        svg {
            fill: $clr-info;
        }
    }
}

@include tablet {
    .my-orders-wrapper {
        padding-top: 91px !important;

        .container {
            width: 100%;
        }   
    }

    .my-orders__block {
        flex-direction: column;

        .user-menu__block {
            margin-bottom: 25px;
        }

        .user-content__block {
            width: 90% !important;
            margin: 0 auto;
        }
    }

    .table__block {
        & > .item__block+ .item__block{
            margin-top: 16px !important;
        }

        .item__block{
            justify-content: center !important;

            .item {
                width: 50% !important;
            }

            .item:nth-child(n + 3) {
                margin-top: 24px;
            }

            .item:last-child {
                margin-top: 40px;
                width: 100% !important;
                align-items: center !important;
            }
            
        }
    }
}