// * Font-families 
$ff-main: 'Euclid Circular A', sans-serif;

// * Font-sizes
$fs-regular: 1.6rem;
$fs-medium: 1.4rem;
$fs-small: 1.2rem;
$fs-tiny: 1rem;

// * Font-weights
$fw-300: 300; 
$fw-400: 400; 
$fw-500: 500; 
$fw-600: 600; 
$fw-700: 700; 

// * Default colors 
$clr-white: #ffffff;
$clr-green: #00bf71;
$clr-brand-100: #fff9d7;
$clr-brand-200: #fff2af;
$clr-brand-300: #ffea88;
$clr-brand-400: #ffe16a;
$clr-brand-500: #ffd339;
$clr-brand-600: #dbaf29;
$clr-brand-700: #b78e1c;
$clr-brand-800: #936e12;
$clr-brand-900: #7a570a;
$clr-basic-200: #f7f9fc;
$clr-basic-300: #edf1f7;
$clr-basic-400: #e4e9f2;
$clr-basic-500: #c5cee0;
$clr-basic-600: #8f9bb3;
$clr-basic-700: #2e3a59;
$clr-basic-800: #222b45;
$clr-basic-900: #192038;
$clr-basic-1100: #101426;
$clr-info: #0095ff;
$clr-succes: #00d68f;
$clr-warning: #ffaa00;
$clr-danger: #ff3d71;
$clr-disable: #c5cee0;
$clr-primary: #3366ff;

// * Hover colors 
$hover-brand: #FFE16A;
$hover-info: #42AAFF;
$hover-succes: #2CE59B;
$hover-warning: #FFC94D;
$hover-danger: #FF708D;
$hover-primary: #598BFF;

// * Pressed colors 
$pressed-brand: #FFE16A;
$pressed-info: #42AAFF;
$pressed-succes: #2CE59B;
$pressed-warning: #FFC94D;
$pressed-danger: #FF708D;

// * Breakpoint sizes
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

// * Header
$header-height: 88px;